body {
      font-family: Arial, sans-serif;
      margin: 30px;
    }
    form {
      max-width: 400px;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    input, select, button {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
    }
    #resultado {
      margin-top: 20px;
      padding: 15px;
      border: 1px solid #007BFF;
      border-radius: 8px;
      background: #f1faff;
    }

    h2 {
      color: #007BFF;
    }

    .titulo {
      text-align: center;
      margin-bottom: 20px;
      color: rgb(5, 5, 132);
    }

    .contenedor {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
